@font-face {
    font-family: 'Black Ops One';
    src: url('BlackOpsOne-Regular.woff2') format('woff2'),
        url('BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

