html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url("../resources/mobile-wallpaper.svg");
    background-size: cover;
    background-repeat: no-repeat-y;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5%;
}
.item-1{border: solid white;padding: 5%;}
.item-2{border: solid white;padding: 5%;}
.item-3{border: solid white;padding: 5%;}
.item-4{border: solid white;padding: 5%;}
.item-5{border: solid white;padding: 5%;}
.item-6{border: solid white;padding: 5%;}

.welcome-header{
    background-color: transparent;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.welcome-header h1{
    font-family: "Press Start 2P";
    font-size: 50px;
    color: white;
    text-align: center;
}

.Joystick{
    width: 50%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/*
Color Theme
light bluish: rgb(20, 124, 166)
dark bluish: rgb(8, 30, 38)
bluish: rgb(12, 75, 89)
light bluish: rgb(20, 197, 217)
greenish: rgb(56, 115, 54)
*/
