/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    html{
        background: url(../resources/small-mobile.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    /* #FFE53C - Yellow Header */

    .nav-flex{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 20vw; /*once you have more content try and make it more consistent across browsers aka. no vw*/
        background-color: #FFE53C;
        box-shadow: 2px 2px rgb(124, 137, 177);
    }

    .nav-links{
       padding: 3vw;
       background-color: #8166FF;
       color: white;
       border-radius: 40%;
       border: inset;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
